.saved-message {
  background: #fff;
  font-size: 1.2em;
  letter-spacing: 1px;
  padding: 0.5em; }

.header-options {
  border: 1px solid #000;
  margin-left: 1em;
  padding: 0 1em;
  width: 90%; }
  .header-options h3 {
    margin-bottom: 0;
    margin-top: -0.5em; }

.show-single-image-options {
  display: block; }

.hide-single-image-options {
  display: none; }

.max-upload-size {
  display: none; }
