/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.readmore, .navigation-wrapper .navigation-previous-post a, .navigation-wrapper .navigation-next-post a, .reply a.comment-reply-link, input:focus, textarea:focus, input[type=submit], .comment-reply.depth-even, .comments-area .commentlist .comment-pending-approval-bg, #respond, .card div {
  border: 1px solid black;
  -moz-box-shadow: 0px 0px 3px 1px black;
  -webkit-box-shadow: 0px 0px 3px 1px black;
  box-shadow: 0px 0px 3px 1px black; }

.readmore:visited, .navigation-wrapper .navigation-previous-post a:visited, .navigation-wrapper .navigation-next-post a:visited, .right_side > div, .foot_box, .comment.depth-1, .comment-reply.depth-odd, .comments-area .commentlist .comment-pending-approval-bg a.comment-reply-link {
  background: white;
  border: 1px solid #ecf0f1;
  -moz-box-shadow: 0px 0px 3px 3px #ecf0f1;
  -webkit-box-shadow: 0px 0px 3px 3px #ecf0f1;
  box-shadow: 0px 0px 3px 3px #ecf0f1; }

input, textarea {
  background: white;
  border: 1px solid #95a5a6;
  -moz-box-shadow: 0px 0px 3px 3px #95a5a6;
  -webkit-box-shadow: 0px 0px 3px 3px #95a5a6;
  box-shadow: 0px 0px 3px 3px #95a5a6; }

.the_content, .posts-short {
  -moz-box-shadow: 0 8px 8px -8px #bdc3c7;
  -webkit-box-shadow: 0 8px 8px -8px #bdc3c7;
  box-shadow: 0 8px 8px -8px #bdc3c7; }

.home-left, .home-right {
  -moz-box-shadow: -8px 0 8px -8px #bdc3c7;
  -webkit-box-shadow: -8px 0 8px -8px #bdc3c7;
  box-shadow: -8px 0 8px -8px #bdc3c7; }

.readmore, .navigation-wrapper .navigation-previous-post a, .navigation-wrapper .navigation-next-post a, .reply a.comment-reply-link {
  background: #e74c3c;
  color: black;
  padding: 0.5em;
  text-decoration: none; }

.readmore:visited, .navigation-wrapper .navigation-previous-post a:visited, .navigation-wrapper .navigation-next-post a:visited {
  background: black;
  color: white; }

input[type=submit], a {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  letter-spacing: 1px; }

.snippet h4, .home-left h5, .home-right h5 {
  background: #bdc3c7;
  color: white;
  font-variant: small-caps;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
  margin-left: -0.625em;
  padding: 0.3em 0.625em; }

@font-face {
  font-family: 'latin_modern_roman_dunhil10Rg';
  src: url("fonts/latinmodernromandunhill/lmromandunh10-regular-webfont.eot");
  src: url("fonts/latinmodernromandunhill/lmromandunh10-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/latinmodernromandunhill/lmromandunh10-regular-webfont.woff") format("woff"), url("fonts/latinmodernromandunhill/lmromandunh10-regular-webfont.ttf") format("truetype"), url("fonts/latinmodernromandunhill/lmromandunh10-regular-webfont.svg#latin_modern_roman_dunhil10Rg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'socicon';
  src: url("fonts/socicon/socicon-webfont.eot");
  src: url("fonts/socicon/socicon-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/socicon/socicon-webfont.woff") format("woff"), url("fonts/socicon/socicon-webfont.ttf") format("truetype"), url("fonts/socicon/socicon-webfont.svg#sociconregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'permanent_markerregular';
  src: url("fonts/permanentmarker/PermanentMarker-webfont.eot");
  src: url("fonts/permanentmarker/PermanentMarker-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/permanentmarker/PermanentMarker-webfont.woff") format("woff"), url("fonts/permanentmarker/PermanentMarker-webfont.ttf") format("truetype"), url("fonts/permanentmarker/PermanentMarker-webfont.svg#permanent_markerregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.gridspan_12_span3_up {
  width: 100%;
  padding: 0 0.625em; }

.gridspan_12_span3_down {
  width: 100%;
  padding: 0 0.625em; }

.gridspan_12_span4_up {
  width: 100%;
  padding: 0 0.625em; }

.gridspan_12_span4_down {
  width: 100%;
  padding: 0 0.625em; }

.gridspan_12_span6_up {
  width: 100%;
  padding: 0 0.625em; }

.gridspan_12_span6_down {
  width: 100%;
  padding: 0 0.625em; }

.gridspan_12_span9_up {
  width: 100%;
  padding: 0 0.625em; }

.gridspan_12_span9_down {
  width: 100%;
  padding: 0 0.625em; }

.gridspan_12_span12_up {
  width: 100%;
  padding: 0 0.625em; }

.gridspan_12_span12_down {
  width: 100%;
  padding: 0 0.625em; }

@media screen and (min-width: 721px) {
  .gridspan_12_span3_down {
    width: 25%;
    padding: 0 0.625em;
    float: left; }

  .gridspan_12_span4_up {
    width: 34%;
    padding: 0 0.625em;
    float: left; }

  .gridspan_12_span4_down {
    width: 33%;
    padding: 0 0.625em;
    float: left; }

  .gridspan_12_span6_down {
    width: 50%;
    padding: 0 0.625em;
    float: left; }

  .gridspan_12_span9_up {
    width: 75%;
    padding: 0 0.625em;
    float: left; }

  .gridspan_12_span12_down {
    width: 100%;
    padding: 0 0.625em; } }
.customize-support #header {
  margin-top: 3em; }
  @media screen and (min-width: 783px) {
    .customize-support #header {
      margin-top: 2.0625em; } }
  @media screen and (max-width: 600px) {
    .customize-support #header {
      position: absolute; } }

#header {
  background: black;
  color: white;
  height: 3em;
  padding: 0 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5000;
  -moz-box-shadow: 0 2px 2px 2px #bdc3c7;
  -webkit-box-shadow: 0 2px 2px 2px #bdc3c7;
  box-shadow: 0 2px 2px 2px #bdc3c7; }
  #header a {
    color: white; }
  #header h1, #header h2 {
    float: left;
    font-size: 1.5em; }

.head-menu {
  float: right; }
  .head-menu select {
    margin-top: 0.5em; }
  .head-menu ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .head-menu ul li {
      display: inline-block;
      padding: 0.5em; }
  @media screen and (min-width: 721px) {
    .head-menu select {
      display: none; }
    .head-menu ul {
      display: block; } }

.front-giant-banner {
  background: #95a5a6;
  position: relative; }
  .front-giant-banner .front-giant-banner-bg {
    position: relative;
    z-index: 2; }
    .front-giant-banner .front-giant-banner-bg img {
      display: block;
      margin: 0 auto; }
  .front-giant-banner .front-giant-banner-text {
    color: white;
    font-size: 1.5em;
    position: absolute;
    z-index: 20; }
    .front-giant-banner .front-giant-banner-text.center {
      left: 50%;
      margin-left: -100px;
      margin-top: -50px;
      top: 50%; }
    .front-giant-banner .front-giant-banner-text.top-left {
      left: 1em;
      top: 0.5em; }
    .front-giant-banner .front-giant-banner-text.top-right {
      right: 1em;
      top: 0.5em; }
    .front-giant-banner .front-giant-banner-text.bottom-left {
      left: 1em;
      bottom: 0.5em; }
    .front-giant-banner .front-giant-banner-text.bottom-right {
      right: 1em;
      bottom: 0.5em; }

ul li {
  display: block;
  margin-bottom: 0.5em; }

#container {
  clear: both;
  margin-top: 3em;
  overflow: hidden; }

.body_wrap {
  background: white;
  border-left: 1px solid #bdc3c7;
  border-right: 1px solid #bdc3c7;
  max-width: 60em;
  margin: 0 auto;
  overflow: hidden;
  padding: 1em 0.625em;
  -moz-box-shadow: -8px 0 8px -8px #bdc3c7, 8px 0 8px -8px #bdc3c7;
  -webkit-box-shadow: -8px 0 8px -8px #bdc3c7, 8px 0 8px -8px #bdc3c7;
  box-shadow: -8px 0 8px -8px #bdc3c7, 8px 0 8px -8px #bdc3c7; }
  @media screen and (min-width: 721px) {
    .body_wrap {
      padding: 1em 0 0; } }
  .body_wrap h1 {
    color: #e74c3c;
    font-size: 2em;
    letter-spacing: 2px;
    margin-bottom: 0.25em; }

.content_wrap {
  margin: 0 0.625em;
  overflow: hidden;
  padding: 0 0 1em; }

.front-sub-header {
  margin-bottom: 0.5em;
  padding-left: 0.625em; }
  .front-sub-header h2 {
    color: #95a5a6;
    font-size: 1.75em;
    font-variant: small-caps;
    letter-spacing: 2px;
    margin: 0; }

.welcome_statement {
  margin: 0 0 0.5em;
  padding: 0 0.625em 0.5em; }

.the_content {
  border-bottom: 1px solid #bdc3c7;
  margin: 0 0 1em;
  padding: 0 0 1.5em; }

body.author {
  color: black;
  font-size: 1em;
  font-style: normal; }

.author {
  color: #bdc3c7;
  font-size: 0.8em;
  font-style: italic; }

.snippet {
  margin: 0 0 2em;
  -moz-box-shadow: -8px 0 8px -8px #bdc3c7;
  -webkit-box-shadow: -8px 0 8px -8px #bdc3c7;
  box-shadow: -8px 0 8px -8px #bdc3c7; }

.snippet:nth-child(3n+4) {
  clear: left; }

.body_wrap, .foot_wrap, .copy, .info {
  clear: both; }

.readmore {
  clear: both; }

.navigation-wrapper {
  clear: both;
  margin: 1.5em 0 0; }
  .navigation-wrapper .navigation-previous-post, .navigation-wrapper .navigation-next-post {
    display: block;
    margin: 1.5em 0; }
    .navigation-wrapper .navigation-previous-post a, .navigation-wrapper .navigation-next-post a {
      color: black;
      font-size: 1.125em;
      font-weight: bold;
      letter-spacing: 1px; }
      .navigation-wrapper .navigation-previous-post a:visited, .navigation-wrapper .navigation-next-post a:visited {
        color: lightest; }
  @media screen and (min-width: 600px) {
    .navigation-wrapper .navigation-previous-post {
      display: block;
      float: right; }
    .navigation-wrapper .navigation-next-post {
      display: block;
      float: left; } }
  .navigation-wrapper:after {
    clear: both;
    content: '';
    display: block; }

.home-custom, .snippet_wrap {
  clear: both;
  overflow: hidden; }

.home-left, .home-right {
  margin: 0 0 2em; }
  .home-left h5, .home-right h5 {
    margin-top: 0; }

.posts-short {
  margin: 0 0 2em;
  padding: 0 0 0.25em; }

.social-share-title {
  font-size: 1.5em;
  font-variant: small-caps;
  font-weight: bold;
  margin: 1em 0 0.5em; }

.social-share {
  font-size: 1.75em; }
  @media screen and (min-width: 721px) {
    .social-share {
      font-size: 2.5em; } }
  .social-share a {
    background: #e74c3c;
    color: black;
    display: inline-block;
    font-family: 'socicon' !important;
    margin-right: 0.5em;
    padding: 0.25em;
    text-decoration: none;
    border-radius: 5px 40px 40px;
    -moz-border-radius: 5px 40px 40px;
    -webkit-border-radius: 5px 40px 40px; }
    @media screen and (min-width: 721px) {
      .social-share a:hover {
        background: #c0392b;
        color: white; } }

.comment-nav {
  padding: 0 0.625em; }

.assistive-text {
  font-size: 0; }

.right_side h5 {
  background: #ecf0f1;
  font-weight: bold;
  margin: -0.5em -0.5em 0.5em;
  padding: 0.4em 0.8em; }
.right_side > div {
  margin-bottom: 1em;
  padding: 0.5em; }
  @media screen and (min-width: 721px) {
    .right_side > div {
      font-size: 0.8em; } }
  .right_side > div h6 {
    color: #e74c3c;
    font-size: 1.3em;
    font-variant: small-caps;
    font-weight: bold; }
  .right_side > div .readmore {
    margin-left: 0.2em; }

.snippet-image {
  background: #95a5a6;
  display: block;
  margin: -0.5em 0 0.5em -0.625em; }
  .snippet-image img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.the_content .image-wrapper {
  background: #95a5a6;
  display: block;
  margin: 0 1em 1em 0;
  padding: 0.5em; }
  .the_content .image-wrapper img {
    display: block;
    margin: 0 auto; }
  @media screen and (min-width: 480px) {
    .the_content .image-wrapper {
      float: left; } }

.image-caption {
  display: block;
  font-variant: small-caps;
  letter-spacing: 1px;
  text-align: center; }

figure.nowrap {
  display: inline-block;
  float: none !important; }

figure.forceright {
  float: right !important;
  margin-left: 1em !important; }

body {
  -webkit-text-size-adjust: none; }

.video {
  clear: both;
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 1em; }
  .video iframe, .video object, .video embed, .video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.wp-video {
  clear: both;
  height: auto !important;
  margin: 1em 0;
  width: 100% !important; }

.wp-video-shortcode.mejs-container {
  width: 100% !important;
  height: auto !important;
  padding-top: 57%; }
.wp-video-shortcode .mejs-overlay, .wp-video-shortcode .mejs-poster {
  width: 100% !important;
  height: 100% !important; }
.wp-video-shortcode .mejs-mediaelement video, .wp-video-shortcode .mejs-mediaelement iframe, .wp-video-shortcode .mejs-mediaelement embed, .wp-video-shortcode .mejs-mediaelement object {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100% !important;
  height: 100% !important; }

.wp-audio-shortcode.mejs-container {
  clear: both;
  margin: 1em 0; }
@media screen and (min-width: 721px) {
  .wp-audio-shortcode .mejs-time-rail {
    width: 200px !important; }
  .wp-audio-shortcode .mejs-time-total, .wp-audio-shortcode .mejs-time-loaded {
    width: 190px !important; } }

.search-result {
  margin: 0 0 1.25em;
  padding: 0 0 0.5em;
  -moz-box-shadow: 0 8px 8px -8px #bdc3c7;
  -webkit-box-shadow: 0 8px 8px -8px #bdc3c7;
  box-shadow: 0 8px 8px -8px #bdc3c7; }
  .search-result:first-of-type {
    margin: 1.25em 0;
    padding: 0.5em 0;
    -moz-box-shadow: 0 -8px 8px -8px #bdc3c7, 0 8px 8px -8px #bdc3c7;
    -webkit-box-shadow: 0 -8px 8px -8px #bdc3c7, 0 8px 8px -8px #bdc3c7;
    box-shadow: 0 -8px 8px -8px #bdc3c7, 0 8px 8px -8px #bdc3c7; }
  .search-result h1 {
    color: #e74c3c;
    font-size: 1.3em;
    letter-spacing: 1px;
    margin-bottom: 0.25em; }

.search-result-text {
  color: black; }

footer {
  background: black;
  clear: both;
  margin: 0.625em 0 0;
  padding: 0.625em 0; }

.foot_wrap {
  max-width: 60em;
  margin: 0 auto; }
  .foot_wrap > div {
    margin-bottom: 1.5em; }

.foot_box {
  padding: 0.5em; }

.copy {
  color: white;
  text-align: center; }
  .copy a {
    color: white; }

label {
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0.3em;
  margin-left: 0.3em; }

input, textarea {
  margin-right: 2em;
  padding: 0.5em;
  display: block; }

input[type=submit] {
  background: #e74c3c;
  cursor: pointer;
  padding: 0.3em; }

#searchform label {
  display: block; }
#searchform:after {
  content: '';
  clear: both;
  display: block; }

#s, #searchsubmit {
  float: left; }

#comments {
  clear: both;
  margin: 1em 0 0; }
  @media screen and (min-width: 721px) {
    #comments {
      margin-left: 3em; } }
  #comments h3 {
    color: #e74c3c;
    font-size: 1.2em;
    font-variant: small-caps;
    letter-spacing: 2px;
    margin-bottom: 1.2em; }

.req-text {
  font-size: 0.8em; }

.comment.depth-1 {
  margin: 1.5em 1em 1.5em 0;
  padding: 0.3em 1em 1em; }

.comment-reply {
  margin: 1.5em 0 1.5em 1em;
  padding: 0.3em 1em 1em; }

.comments-area .commentlist .comment-pending-approval-bg {
  background: #e74c3c; }
  .comments-area .commentlist .comment-pending-approval-bg .author {
    color: black; }

.comment-awaiting-moderation {
  font-size: 0.7em;
  letter-spacing: 1px; }

.reply a.comment-reply-link {
  font-size: 0.8em; }

#respond {
  background: #BDC3C7;
  margin: 1em 0;
  padding: 1em; }
  @media screen and (min-width: 721px) {
    #respond {
      margin-right: 1em; } }

textarea {
  width: 100%; }
  @media screen and (min-width: 721px) {
    textarea {
      width: 50%; } }

/* calendar widget */
#wp-calendar {
  width: 100%; }

#wp-calendar caption {
  color: #e74c3c;
  font-size: 1em;
  margin: 1em 0;
  text-align: right; }

#wp-calendar thead {
  font-size: 0.8em; }

#wp-calendar thead th {
  padding-bottom: 1em; }

#wp-calendar tbody {
  color: white; }

#wp-calendar tbody td {
  background: #ecf0f1;
  border: 1px solid white;
  color: black;
  padding: 1em;
  text-align: center; }

#wp-calendar tbody td a {
  font-size: 1.2em; }

#wp-calendar tbody .pad {
  background: none; }

#wp-calendar tfoot #next {
  font-size: 1em;
  padding-top: 0.5em;
  text-align: right;
  text-transform: uppercase; }

#wp-calendar tfoot #prev {
  font-size: 1em;
  padding-top: 0.5em;
  text-transform: uppercase; }

.slider-wrap {
  background: #95a5a6;
  overflow: hidden;
  padding: 1em 0 0; }

.table {
  position: relative; }

.card {
  display: block;
  float: left; }

.card.grid-2 {
  width: 100%; }

.card.grid-3 {
  width: 50%; }

.card.grid-4 {
  width: 33%; }

.previous .back {
  background: black;
  border: 1px solid white;
  color: white;
  -moz-box-shadow: 0px 0px 1px 1px white;
  -webkit-box-shadow: 0px 0px 1px 1px white;
  box-shadow: 0px 0px 1px 1px white; }

.card div {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.thumbnail-image {
  display: block;
  float: left;
  padding-right: 1em; }
  .thumbnail-image img {
    display: block;
    margin: 0;
    padding: 0; }

.back {
  background: #e74c3c;
  margin-bottom: -8.25em;
  min-height: 3em;
  padding: 0 0.625em 9em;
  -webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -ms-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;
  -webkit-transform: perspective(1000px) rotateX(0deg);
  -moz-transform: perspective(1000px) rotateX(0deg);
  -ms-transform: perspective(1000px) rotateX(0deg);
  -o-transform: perspective(1000px) rotateX(0deg);
  transform: perspective(1000px) rotateX(0deg); }
  @media screen and (min-width: 721px) {
    .back:hover {
      background: #c0392b;
      color: white;
      cursor: pointer; } }
  .back h4 {
    padding: 0 0.5em; }

.card.active .back {
  left: 10%;
  position: absolute;
  top: 0.25em;
  width: 80%;
  -webkit-transform: perspective(1000px) rotateX(180deg) skew(20deg);
  -moz-transform: perspective(1000px) rotateX(180deg) skew(20deg);
  -ms-transform: perspective(1000px) rotateX(180deg) skew(20deg);
  -o-transform: perspective(1000px) rotateX(180deg) skew(20deg);
  transform: perspective(1000px) rotateX(180deg) skew(20deg); }

.front {
  background: white;
  font-size: 1em;
  margin-bottom: 1.5em;
  opacity: 0;
  overflow: hidden;
  width: 240%;
  -webkit-transform: perspective(1000px) rotateX(-179.9deg);
  -moz-transform: perspective(1000px) rotateX(-179.9deg);
  -ms-transform: perspective(1000px) rotateX(-179.9deg);
  -o-transform: perspective(1000px) rotateX(-179.9deg);
  transform: perspective(1000px) rotateX(-179.9deg);
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  -webkit-transition: -webkit-transform 2s ease;
  -moz-transition: -moz-transform 2s ease;
  -ms-transition: -ms-transform 2s ease;
  -o-transition: -o-transform 2s ease;
  transition: transform 2s ease; }
  .front span {
    display: block;
    padding: 0.625em; }
    .front span h4 {
      color: #e74c3c;
      font-size: 1.3em;
      letter-spacing: 2px; }
  .front .thumbnail-image {
    display: none; }
    @media screen and (min-width: 600px) {
      .front .thumbnail-image {
        display: block;
        height: 100%; } }

.card.active .front {
  left: 10%;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 80%;
  z-index: 50;
  -webkit-transform: perspective(1000px) rotateX(0deg);
  -moz-transform: perspective(1000px) rotateX(0deg);
  -ms-transform: perspective(1000px) rotateX(0deg);
  -o-transform: perspective(1000px) rotateX(0deg);
  transform: perspective(1000px) rotateX(0deg); }

body {
  font-size: 100%;
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 1.5;
  background: white;
  margin: 0; }

p {
  margin-bottom: 1.5em;
  word-wrap: break-word; }

a {
  color: #e74c3c; }

img {
  max-width: 100%; }

blockquote {
  font-size: 1.1em;
  font-style: italic;
  margin-left: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'latin_modern_roman_dunhil10Rg', Times, serif; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: 'latin_modern_roman_dunhil10Rg', Times, serif; }

h5 {
  font-size: 1.1em;
  font-variant: small-caps;
  letter-spacing: 1px;
  margin: 0.5em 0 0; }
