$darkest: #000; // font color and dark shadows
$colorpop: #E74C3C; // header colors and slider color
$colorpophover: #C0392B; // hover color for slider
$darkaccent: #95A5A6; // background for slider
$lightaccent: #BDC3C7; // offset to make text pop
$lightish: #ECF0F1; // used for shadow on elements with $lightest
$lightest: #FFF; // text backgrounds