@font-face {
    font-family: 'latin_modern_roman_dunhil10Rg';
    src: url('fonts/latinmodernromandunhill/lmromandunh10-regular-webfont.eot');
    src: url('fonts/latinmodernromandunhill/lmromandunh10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/latinmodernromandunhill/lmromandunh10-regular-webfont.woff') format('woff'),
         url('fonts/latinmodernromandunhill/lmromandunh10-regular-webfont.ttf') format('truetype'),
         url('fonts/latinmodernromandunhill/lmromandunh10-regular-webfont.svg#latin_modern_roman_dunhil10Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}